.college-dept-title {
	background-color: $maroon;
	text-align: right;
	padding: .5rem 0;
	color: $whiter;
	font-family: $opensans;
}

.site-header {
	&,
	& .wrap.is-at-top {
		background-color: transparent;
	}

	.title-area {
		padding-left: $grid-padding-gutters/2;
	}

	.site-title {
		text-align: left;

		img {
			width: auto;
		}
	}

	@include breakpoint(medium) {
		.grid-container {
			padding: {
				top: 1rem;
				bottom: 1rem;
			}
		}
	}
}
