.college-dept-title {
	background-color: $maroon;
	text-align: right;
	padding: .2rem 0;
	color: $whiter;
	font-family: $opensans;
	font-size: .9rem;
}

.site-header {
	&,
	& .wrap.is-at-top {
		background-color: transparent;
	}

	.site-title {
		text-align: left;

		img {
			width: auto;
		}
	}

	.title-area {
		padding-left: $grid-padding-gutters * .75;
	}

	@include breakpoint(medium) {
		.title-area {
			padding-left: 0;
		}

		.grid-container:not(#nav-menu-primary) {
			padding: {
				top: 1rem;
				bottom: 1rem;
			}
		}
	}
}
