.nav-primary {
	background-color: $almost-black;

	.menu .is-active > a,
	.dropdown.menu > li.is-active > a {
		background-color: $maroon;
	}

	.top-bar .submenu {
		&,
		ul {
			background-color: $maroon;
		}

		a:hover {
			background-color: darken($maroon, 8%);
		}
	}

	a,
	a:hover,
	li:hover a,
	li:hover .menu-depth-1 a,
	.menu-depth-1 a {
		color: $white;
	}

	@include breakpoint(small only) {
		font-size: 1.6rem;

		.top-bar,
		.top-bar ul {
			background-color: transparent;
		}

		.menu a {
			border: 0 dotted $maroon;
			transition: none;

			&:hover {
				font-weight: bold;
				background-color: transparent;
				border-width: rem-calc(5) 0;
			}
		}

		.submenu li.linked > a {
			font-size: 1.25rem;

			&:hover,
			&:focus {
				background-color: transparent;
			}
		}

		#nav-menu-primary {
			margin: {
				left: 0;
				right: 0;
			}
			padding: {
				left: 0;
				right: 0;
			}

			> .grid-padding-x > .cell {
				padding: {
					left: 0;
					right: 0;
				}
			}
		}

		.menu-primary > .menu-item > a {
			padding: {
				left: $grid-padding-gutters;
				right: $grid-padding-gutters;
			}
		}
	}

	@include breakpoint(medium) {
		.menu-depth-1 {
			border: none;
		}

		.top-bar {
			padding: {
				top: 0;
				bottom: 0;
			}
		}

		&,
		.top-bar,
		.top-bar ul {
			background-color: $almost-black;
		}

		.menu-primary {
			> li > a:hover,
			> li.is-active > a {
				background-color: lighten($maroon, 1.25%);
			}
		}

		.is-dropdown-submenu-parent.opens-right:not(.grid) > .is-dropdown-submenu {
			padding: 0;
			min-width: auto;

			a {
				padding: {
					left: 1rem;
					right: 1rem;
				}
			}
		}
	}
}

.submenu li.linked > a {
	&:hover,
	&:focus {
		background-color: $maroon;
	}
}

.title-bar.title-bar-navigation .menu-icon {
	&::after,
	&:hover::after {
		background-color: $black;
		box-shadow: 0 8px 0 $black, 0 16px 0 $black;
	}
}
